@charset "UTF-8";
/**
 * style.css
 */

html,
body {
  background: #F8235F;
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -350px;
  padding: 0 0 350px;
}

#footer {
  height: 350px;
  background-color: #00E0B9;
}

h2 {
  color: #FFF;
  cursor: pointer;
  font-family: "edoregular";
  font-size: 6em;
}

h2:hover {
  color: #DDD;
}

h2#replay {
  color: #852466;
}

h2:hover#replay {
  color: #6B1D52;
}

.player {
  background: #FFF;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin: 20px auto;
}
